* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

table {
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-collapse: collapse;
    margin: 20px auto;
}

td, th {
    border-style: solid;
    border-width: 2px;
    padding: 10px;
}

th {
    background-color: lightslategray;
}